*
{
    box-sizing: border-box !important;
    font-family: 'Times New Roman', Times, serif !important;
    margin: 0px !important;
    padding: 0px !important;
}

.EditPost
{
    min-height: 100vh !important;
    min-width: 100vw !important;
    max-height: none !important;
    max-width: none !important;
    .page
    {
        padding: 0px 80px !important;
        width: 100% !important;
        h2
        {
            color: #4b3b47 !important;
            padding-top: 40px !important;
            text-align: center !important;
        }
        .save
        {
            background-color: #80a4ed  !important;
            border: none !important;
            color: #4b3b47 !important;
            cursor: pointer !important;
            display: block !important;
            font-size: 1.125rem !important;
            margin-left: auto !important;
            margin-right: auto !important;
            margin-top: 20px !important;
            padding: 20px 40px !important;
            text-decoration: none !important;
            width: fit-content !important; 
    }
    }
}