*
{
    box-sizing: border-box !important;
    font-family: 'Times New Roman', Times, serif !important;
    margin: 0px !important;
    padding: 0px !important;
}

.PostList
{
    margin-top: 40px !important;
    width: 100vw !important;
    .component
    {
        margin-top: 40px !important;
        max-width: none !important;
        width: 100% !important;
        h3
        {
            color: #4b3b47 !important;
            text-align: center !important;
        }
        p
        {
            color: #4b3b47 !important;
            text-align: center !important;
        }
        .post-link
        {
            display: block !important;
            color: #f4f3ee !important;
            margin-left: auto !important;
            margin-right: auto !important;
            width: fit-content !important;
            &:hover
            {
                text-decoration: none !important;
            }
        }
    }
}